<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <div class="text-center sidebar-brand-wrapper d-flex align-items-center">
    <a class="sidebar-brand brand-logo" href="{{ path("app_homepage") }}"><img src="{{ asset("admin_panel/images/logo.svg") }}" alt="logo" /></a>
    <a class="sidebar-brand brand-logo-mini pl-4 pt-3" href="{{ path("app_homepage") }}"><img src="{{ asset("admin_panel/images/logo-mini.svg") }}" alt="logo" /></a>
  </div>
  <ul class="nav">
    <li class="nav-item nav-profile">
      <a href="#" class="nav-link">
        <div class="nav-profile-text d-flex flex-column pr-3">
          <span class="font-weight-medium mb-2">{{ app.user.email }}</span>
          <span class="font-weight-normal">{{ app.user.roles|first|slice(5)|capitalize }}</span>
        </div>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ path("app_admin_homepage") }}">
        <i class="mdi mdi-home menu-icon"></i>
        <span class="menu-title">Accueil</span>
      </a>
    </li>
    {% for link in [["Utilisateurs", "user", " mdi mdi-account-box"],["Categories", "category", " mdi mdi-archive"],["Pieces", "coin", " mdi mdi-coin"],["Commentaires", "review", " mdi mdi-comment"]] %}
      <li class="nav-item">
        <a class="nav-link" href="{{ path("app_"~link[1]~"_index") }}">
          <i class="{{ link[2] }} menu-icon"></i>
          <span class="menu-title">{{ link[0] }}</span>
        </a>
      </li>
    {% endfor %}
    <li class="nav-item sidebar-actions">
      <div class="nav-link">
        <div class="mt-4">
          <ul class="mt-4 pl-0">
            <a href="{{ path("app_logout") }}"><li>Sign Out</li></a>
          </ul>
        </div>
      </div>
    </li>
  </ul>
</nav>