{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Bonjour {{ user.email }} !</h1>

    <p>Voici la liste des pièces que vous possédez :</p>
    {% if user_coins_count > 0 %}
        <table>
            <tr>
                <th>Nom</th>
                <th>Description</th>
            </tr>
            {% for coin in user.getCoinsOwned() %}
                <tr>
                    <td>{{ coin.name }}</td>
                    <td>{{ coin.description }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <b>Vous ne possédez aucune pièces</b>
    {% endif %}
    <p>Voici la liste de toutes les pièces existantes, triées par nom :</p>
    {% if coins_count > 0 %}
        <table>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th></th>
            </tr>
        {% for coin in coins %}
            <tr>
                <td>{{ coin.name }}</td>
                <td>{{ coin.description }}</td>
                <td><a href="?type=coin_geted&id={{ coin.id }}">je le posséde !</a></td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <b>Il n'existe pas encore de pièces</b>
    {% endif %}
</div>
{% endblock %}
