{% extends 'admin_base.html.twig' %}

{% block title %}Coin{% endblock %}

{% block body %}
    <h1>Coin</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ coin.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ coin.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ coin.description }}</td>
            </tr>
            <tr>
                <th>Photograph_asset_path</th>
                <td>{{ coin.photographAssetPath }}</td>
            </tr>
            <tr>
                <th>Creation_date</th>
                <td>{{ coin.creationDate ? coin.creationDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Bdd_add_date</th>
                <td>{{ coin.bddAddDate ? coin.bddAddDate|date('Y-m-d H:i:s T') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_coin_index') }}">back to list</a>

    <a href="{{ path('app_coin_edit', {'id': coin.id}) }}">edit</a>

    {{ include('coin/_delete_form.html.twig') }}
{% endblock %}
