<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Breeze Admin</title>
    <link rel="stylesheet" href="{{ asset("admin_panel/vendors/mdi/css/materialdesignicons.min.css") }}" />
    <link rel="stylesheet" href="{{ asset("admin_panel/vendors/flag-icon-css/css/flag-icon.min.css") }}" />
    <link rel="stylesheet" href="{{ asset("admin_panel/vendors/css/vendor.bundle.base.css") }}" />
    <link rel="stylesheet" href="{{ asset("admin_panel/vendors/font-awesome/css/font-awesome.min.css") }}" />
    <link rel="stylesheet" href="{{ asset("admin_panel/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css") }}" />
    <link rel="stylesheet" href="{{ asset("admin_panel/css/style.css") }}" />
    <link rel="shortcut icon" href="{{ asset("admin_panel/images/favicon.png") }}" />
</head>
<body>
<div class="container-scroller">
    {{ include('_includes/sidebar.html.twig') }}
    <div class="container-fluid page-body-wrapper">
        {{ include('_includes/settings_panel.html.twig') }}
        {{ include('_includes/navbar.html.twig') }}
        <div class="main-panel">
            {% block body %}<h3 class="mb-0"> Hi, welcome back! <span class="pl-0 h6 pl-sm-2 text-muted d-inline-block">Une erreur est survenue.</span>{% endblock %}
            {{ include("_includes/footer.html.twig") }}
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<script src="{{ asset("admin_panel/vendors/js/vendor.bundle.base.js") }}"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="{{ asset("admin_panel/vendors/chart.js/Chart.min.js") }}"></script>
<script src="{{ asset("admin_panel/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js") }}"></script>
<script src="{{ asset("admin_panel/vendors/flot/jquery.flot.js") }}"></script>
<script src="{{ asset("admin_panel/vendors/flot/jquery.flot.resize.js") }}"></script>
<script src="{{ asset("admin_panel/vendors/flot/jquery.flot.categories.js") }}"></script>
<script src="{{ asset("admin_panel/vendors/flot/jquery.flot.fillbetween.js") }}"></script>
<script src="{{ asset("admin_panel/vendors/flot/jquery.flot.stack.js") }}"></script>
<script src="{{ asset("admin_panel/vendors/flot/jquery.flot.pie.js") }}"></script>
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="{{ asset("admin_panel/js/off-canvas.js") }}"></script>
<script src="{{ asset("admin_panel/js/hoverable-collapse.js") }}"></script>
<script src="{{ asset("admin_panel/js/misc.js") }}"></script>
<!-- endinject -->
<!-- Custom js for this page -->
<script src="{{ asset("admin_panel/js/dashboard.js") }}"></script>
<!-- End custom js for this page -->
</body>
</html>